// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", ForkAwesome;
}

#rules > ol > li {
    margin-top: 1em;
}

#rules > ol > li::marker {
    font-size: 1.575rem;
}

/*
 * Textarten (Vorschau beim Auswählen der Textart für ein PDF-Dokument
 */
.courier {
    font-family: courier, serif;
}

.helvetica {
    font-family: helvetica, serif;
}

.times {
    font-family: "Times New Roman", Times, serif;
}

.dejavusans {
    font-family: "DejaVu Sans", sans-serif;
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

ul.scrollnav {
    overflow-x: scroll;
    overflow-y: hidden;
    max-height: 6em;
    max-width: 75em;
    flex-wrap: nowrap;

    li.nav-item {
        max-height: 5em;
        min-width: 190px;

        .nav-link {
            color: black;
            background-color: rgba(0, 0, 0, 0.05);
        }
        .nav-link:not(.active) {
            background-color: white;
            color: black;
        }

        .hervorheben {
            background-color: #0000FF !important;
            color: white !important;
        }

        .hervorheben:not(.active) {
            background-color: #99ccff !important;
            color: black !important;
        }
    }
}

#addImage .modal-dialog {
    width: 60%;
    max-width: 60%;
}
